[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss
[submodule "themes/hugo-theme-jane"]
	path = themes/hugo-theme-jane
	url = https://github.com/xianmin/hugo-theme-jane
